<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редактировать заявку</title>
</head>
<body>
    <h1>Редактировать заявку</h1>
    <form action="/update" method="post">
        <input type="hidden" name="id" value="{{ order.id }}">
        <table>
            <tr><td>Дата добавления</td><td><input name="startDate" type="date" value="{{ order.startDate.strftime('%Y-%m-%d') }}" required></td></tr>
            <tr><td>Оборудование</td><td><input name="oborodovanie" value="{{ order.oborodovanie }}" required></td></tr>
            <tr><td>Тип неисправности</td><td><input name="problema" value="{{ order.problema }}" required></td></tr>
            <tr><td>Описание проблемы</td><td><input name="opicanieproblem" value="{{ order.opicanieproblem }}" required></td></tr>
            <tr><td>Клиент</td><td><input name="client" value="{{ order.client }}" required></td></tr>
            <tr><td>Статус заявки</td><td>
    <select name="status" required>
        <option value="Ожидания" {% if order.status == "Ожидания" %}selected{% endif %}>Ожидания</option>
        <option value="В работе" {% if order.status == "В работе" %}selected{% endif %}>В работе</option>
        <option value="Завершено" {% if order.status == "Завершено" %}selected{% endif %}>Завершено</option>
    </select></td></tr>
            <tr><td>Комментарий</td><td><input name="com" value="{{ order.com }}"></td></tr>
            <tr><td>Мастер</td><td><input name="worker" value="{{ order.worker }}"></td></tr>
        </table>
        <button type="submit">Сохранить изменения</button>
    </form>
</body>
</html>
