<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <style>
    </style>
</head>
<body>

<h1>Добро пожаловать!</h1>

<div class="nav">
    <h2>Навигация</h2>
    <div class="description">
        <a href="/stats/1">Статистика завершенных заявок</a><br>
        <a href="/stats/2">Статистика по проблемам</a><br>
        <a href="/stats/3">Среднее время выполнения завершённых заявок</a>
        <p>Просмотрите все завершенные заявки и их детали.</p>
    </div>
    <div class="description">
        <a href="/repo">Список заявок и добавления новых</a>
        <p>Просмотрите все текущие заявки и их статусы или добавить новую</p>
    </div>
</div>

<div class="order-list">
    <h2>Список заявок для редактирования</h2>
    {% for order in orders %}
    <div class="order-item">
        <span>Заявка ID: {{ order.id }}, Номер аппартаментов: {{ order.number }}, Статус: {{ order.status }}</span>
        <a href="/edit?order_id={{ order.id }}">Редактировать</a>
    </div>
    {% endfor %}
</div>

</body>
</html>
